<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Asp</servlet-name>
  	<display-name>Asp</display-name>
  	<description></description>
  	<servlet-class>com.anu.web.Asp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Add</servlet-name>
  	<display-name>Add</display-name>
  	<description></description>
  	<servlet-class>anu.com.web.Add</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Edit</servlet-name>
  	<display-name>Edit</display-name>
  	<description></description>
  	<servlet-class>com.anu.web.Edit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Addemp</servlet-name>
  	<display-name>Addemp</display-name>
  	<description></description>
  	<servlet-class>com.anu.web.Addemp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Demo</servlet-name>
  	<display-name>Demo</display-name>
  	<description></description>
  	<servlet-class>Demo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Demo2</servlet-name>
  	<display-name>Demo2</display-name>
  	<description></description>
  	<servlet-class>com.anu.web.Demo2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Aaa</servlet-name>
  	<display-name>Aaa</display-name>
  	<description></description>
  	<servlet-class>com.Aaa</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Demo3</servlet-name>
  	<display-name>Demo3</display-name>
  	<description></description>
  	<servlet-class>com.asp.web.Demo3</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Demo11</servlet-name>
  	<display-name>Demo11</display-name>
  	<description></description>
  	<servlet-class>Demo11</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Asp</servlet-name>
  	<url-pattern>/Asp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Add</servlet-name>
  	<url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Edit</servlet-name>
  	<url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Addemp</servlet-name>
  	<url-pattern>/Addemp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Demo</servlet-name>
  	<url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Demo2</servlet-name>
  	<url-pattern>/Demo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Aaa</servlet-name>
  	<url-pattern>/Aaa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Demo3</servlet-name>
  	<url-pattern>/Demo3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Demo11</servlet-name>
  	<url-pattern>/Demo11</url-pattern>
  </servlet-mapping>
</web-app>
